## Importing
importClassesFrom(methods, ANY, character, data.frame, "function", integer, matrix, numeric)
importMethodsFrom(methods, initialize, show)
importFrom(methods, "@<-", callNextMethod, new, validObject)

importFrom(affyio, read.celfile.header, read.celfile)
importClassesFrom(Biostrings, DNAStringSet)

## Needed from graphics
importFrom(graphics, plot)

## Needed from Biobase
importClassesFrom(Biobase, AnnotatedDataFrame, AssayData, eSet, MIAME,
                  NChannelSet, Versions, VersionedBiobase, Versioned,
                  SnpSet)
importFrom(Biobase, assayDataElement, assayDataElementReplace,
           assayDataNew, biocReposList, assayDataValidMembers)
importMethodsFrom(Biobase, annotatedDataFrameFrom, annotation,
                  "annotation<-", assayData, "assayData<-", combine,
                  experimentData, "experimentData<-", exprs, "exprs<-",
                  featureData, "featureData<-", featureNames,
                  fvarLabels, pData, "pData<-", phenoData,
                  "phenoData<-", sampleNames, se.exprs, "se.exprs<-",
                  storageMode, "storageMode<-")

## Exporting
export(pdPkgFromBioC, requireAnnotation, affyPlatforms, celfileDate, list.celfiles)

## PDInfo Classes
exportClasses(AffyTilingPDInfo, AffyExpressionPDInfo, AffySNPPDInfo,
              AffySNPCNVPDInfo, AffyGenePDInfo, AffyExonPDInfo,
              NgsExpressionPDInfo, NgsTilingPDInfo)

##Feature-level Classes
exportClasses(ExpressionFeatureSet, SnpFeatureSet, SnpCnvFeatureSet,
              TilingFeatureSet, ExonFeatureSet, GeneFeatureSet)

##SNP-level Classes
exportClasses(AlleleSet, oligoSnpSet, SnpSuperSet, CNSet)
export(chromosome2integer)
##export(supportedAnnotation, addFeatureAnnotation.crlmm, chromosome2integer)

##SNP-level methods
exportMethods(##bothStrands,
              allele,
              calls, "calls<-", confs, "confs<-",
	      chromosome,
              "chromosome<-", 
	      combine, 
	      copyNumber, "copyNumber<-",
              cnConfidence, "cnConfidence<-", 
	      db, isSnp, position,
              sampleNames, 
	      CA, CB, "CA<-", "CB<-") 


## FeatureSet methods
exportMethods(exprs)

## PDInfo methods
exportMethods(annotation, db, initialize, genomeBuild,
              geometry, kind, manufacturer)

## Some general methods
exportMethods(getM, getA)

##export(addFeatureAnnotation.pd)
